<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/navigation.css' %}" type="text/css"/>
  <link rel="icon" href="{% static 'slick/favicon.ico' %}">
  <link href="//db.onlinewebfonts.com/c/ab83b275830b2d585ea027c47e3b237a?family=GraphiqueW01-Regular" rel="stylesheet" type="text/css"/>
{#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">#}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <body class="app-body">
      <header>
            <a class="logo logo-style" href="/api/">THE PLAYLIST GAME</a>
            <nav>
                <ul class="nav-links">
                    <li><a href="/api/gameinfo/">How To Play</a> </li>
                    <li><a href="/api/tnc/">Terms and Conditions</a> </li>
                    <li><a href="/api/about_us/">About Us</a> </li>
                </ul>
            </nav>
            <a class="cta" href="/api/feedback/"><button>Contact Us</button></a>
      </header>
      {% block content %}
      {% endblock %}  
  </body>
  <div class="footer" style="position: fixed;left: 0;bottom: 0;width: 100%;color: white;text-align: center;">
    Copyright &#174; 2020. All rights reserved.
    <img src="https://counter8.stat.ovh/private/freecounterstat.php?c=asqja1pehpuhsh2bmry5bkedqr7m4ex6" border="0">
  </div>

