<!DOCTYPE html>
<html lang="en">
{% load static %}
    <link rel="icon" href="{% static 'slick/favicon.ico' %}">
    <link rel="stylesheet" href="/static/slick/css/appstyle.css" type="text/css"/>

<head>
    <meta charset="UTF-8">
    <link href="//db.onlinewebfonts.com/c/ab83b275830b2d585ea027c47e3b237a?family=GraphiqueW01-Regular" rel="stylesheet" type="text/css"/>
    <title>Create Game</title>
</head>
<header class="header-title">Create Game</header>
<br>
<body class="app-body">
<form action="/api/create_game/" method="post">
    {% csrf_token %}
      <div class="input-field">
        <input type="text" id="name" name="name" required />
        <label for="name">Game Name:</label>
    </div>
          <div class="input-field">
        <input type="number" id="sample_size" name="sample_size" required />
        <label for="sample_size">Sample Size:</label>
    </div>
          <div class="input-field">
        <input type="number" id="pool_size" name="pool_size" required />
        <label for="pool_size">Pool Size:</label>
    </div>
          <div class="input-field">
        <input type="number" id="contestants" name="contestants" required />
        <label for="contestants">Contestants:</label>
    </div>
    <button class="btn btn-primary" type="submit" value="Submit">Create</button>
</form>
</body>
</html>