{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">

    <title>Create Game</title>
    
</head>


<script>

    var validateAndCreateGame = function() {

        var url = document.URL.split("new_game");
        var sampleSize = document.getElementById("sample_size").value;
        var contestant = document.getElementById("contestants").value
        if((sampleSize !="" && parseInt(sampleSize) < 1) || (contestant !="" && parseInt (contestant) < 1)) {
         document.getElementById("submitButton").style.display = "none";
         document.getElementById("errorMsg").innerHTML = "Please enter the positive integers !!";
         return;
        }

        $.post(url[0] + "create_game/", {
            name : document.getElementById("name").value,
            sample_size : document.getElementById("sample_size").value,
            contestants : document.getElementById("contestants").value,
            email : document.getElementById("email").value

        }, function(response){
            if (response && response.status && response.status.toUpperCase() !== "SUCCESS") {
                document.getElementById("errorMsg").innerHTML = response.message;
                document.getElementById("submitButton").style.display = "none";

            } else {
                if(response.game_code) {
                    document.getElementById("gameForm").style.display = "none";
                    document.getElementById("gameCode").style.display = "block";

                    var msg = "Game created successfully !!!" + "</br>" +"The game code is " + response.game_code + "<br>" + "Use this code to start the game." ;

                    document.getElementsByClassName("thanks")[0].innerHTML = msg;

                }
                

            }

        });

    }

    var enableSubmitAndClearMsg = function () {
        document.getElementById("submitButton").style.display = "block";
        document.getElementById("errorMsg").innerHTML = "";
    }


    $(document).keypress(
        function(event){
            if (event.which !== '13') {
                enableSubmitAndClearMsg();
            }
    });
</script>
<div id = "gameForm" class = "input-container-playlist">
        <div style="margin-bottom: 4rem; flex-direction: column;">
            <div class="input-field game-selector-div">
                <input type="text" id="name" name="name" autocomplete="off" onpaste = enableSubmitAndClearMsg() required />
                <label for="name" class="label-name">Game Name :</label>
            </div>
            <div class="input-field game-selector-div" style="margin-top:2rem">
                <input type="number" id="sample_size" min="1" name="sample_size" autocomplete="off" onpaste = enableSubmitAndClearMsg() required />
                <label for="sample_size">No of songs to be played in a game :</label>
            </div>
            <div class="input-field game-selector-div" style="margin-top:2rem">
                <input type="number" id="contestants" min="1" name="contestants" autocomplete="off" onpaste = enableSubmitAndClearMsg() required />
                <label for="contestants">Number of Contestants :</label>
            </div>
            <div class="input-field game-selector-div" style="margin-top:2rem">
                <input type="text" id="email" name="email" autocomplete="off" onpaste = enableSubmitAndClearMsg() required />
                <label for="email">Email (Game code will be sent to this):</label>
            </div>
            <button id="submitButton" type="submit" value="Submit" onclick="validateAndCreateGame()">Create</button>
            <div id="errorMsg" class="app-text-play game-selector-div" style="font-size: 0.75rem; color: whitesmoke"></div>

        </div>
        <div style="margin-left: 1rem;">
            <img src="{% static 'slick/oie_2212120tebkhWoO.gif' %}">
        </div>
</div>

<div id="gameCode" style="display: none; align-items: center; margin-top: 75px; margin-bottom: 4rem;">
    <div class="thanks" style="text-align: center;">
    </div>
    <div class="home-btn" style = "margin: 0;position: absolute;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);"> 
        <button onclick="location.href = '/api/'">Home</button>
    </div>

</div>


{% endblock %}
