{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Join Game</title>
	<button class="btn btn-primary" onclick="location.href = '/api/'" >Home</button>
</head>
<body class="app-body">
<header class="header-title">Enter Game</header>
<br><br><br>
<form action="/api/get_games/" method="post">
    {% csrf_token %}
    <div class="input-field">
        Game List :
       <section class="choices-play">{{ form.game_list }}</section>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Play!</button>
</form>
</body>
{% endblock %}