{% extends 'base.html' %}

{% block content %}

{% load static %}

<nav>
    
    <div>
        <ul class="nav-links">
            <li>
                <a href='/api/' style="margin-left:5px;"><img src="{% static 'slick/headphone.png' %}" style="height: 20px;
    width: 20px;"> Home</a>
            </li>

        </ul>
    </div>
</nav>
<header class="header-title text-center" style="margin-left: 0px;">ABOUT THE GAME</header>
<br>

<body class="app-body" style="color: white;">

    Do you ever sit back to relax and get torn between whether to spend your evening with a group of friends or simply chill at your couch listening to your playlist ?
    Well, pull up your socks for this new adventure where we serve you the best of both worlds.
    <br>
    ‘The Playlist Game’ is a perfect amalgamation of your favourite songs with the punch of game night.
    <br>
    The major theme of the game is ‘mystery’.
    <br>
    Each player has to provide unique songs from their playlists which is kept as a secret. As soon as the game starts a song will be played and all contestants have to figure out to whom does the song belong. The owner of the song has to defend himself by bluffing other players. The person within maximum score wins the game.
    <br>
    So let’s get started!
    <br>
    <br>
    HOW TO PLAY
    <br>
    <br>
    To play the game simply follow the following steps.
    <br>
    <br>
    1.	Click at the ‘Create’ tab displayed on the home page to build a new game. Provide a code or name to this game.
    <br>
    2.	Once the game is constructed, share the code with your friends.
    <br>
    3.	All contestants are now required to click on ‘Submit your Entries’ tab and choose their respective game.
    <br>
    4.	Enter song names along with their links.
    <br>
    5.	To begin, tap on ‘Play Game’ and enjoy !


</body>
{% endblock %}