{% extends 'base.html' %}

{% block content %}

{% load static %}

    <meta charset="UTF-8">
    <title>The Playlist Game</title>
    <div class="text-center">
            <div class="card">
                <a href="/api/create_game/" style="color: none; text-decoration: none;">
                    <img class="card-img-top" src="{% static 'slick/create.png' %}">
                    <div class="card-body">
                        <h4 class="card-title">Create Game</h4>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="/api/put_playlist/" style="color: none; text-decoration: none;">
                    <img class="card-img-top" src="{% static 'slick/submit.png' %}">
                    <div class="card-body">
                        <h4 class="card-title">Submit Your Entries</h4>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="/api/get_games/" style="color: none; text-decoration: none;">
                    <img class="card-img-top" src="{% static 'slick/play.png' %}">
                    <div class="card-body">
                        <h4 class="card-title">Play Game</h4>
                    </div>
                </a>
            </div>
    </div>
{% endblock %}
