{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Enter Your Submission</title>
	<button class="btn btn-primary" onclick="location.href = '/api/'"><img src="{% static 'slick/favicon.ico' %}" style="height: 20px;
    width: 25px;">  Home</button>
</head>
<header class="header-title">Song Details</header>
    <body class="app-body">
    <br><br>
        <form method="POST">
            {% csrf_token %}
            {{ fs.management_form }}
            {% for form in fs %}
                {% for field in form %}
                    <div class="input-field">
                        {{ field }}
                    <label>{{ field.label }}</label>
                    </div>
                {% endfor %}
            {% endfor %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </body>
{% endblock %}
