{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Enter Your Submission</title>
	<button class="btn btn-primary" onclick="location.href = '/api/'"><img src="{% static 'slick/favicon.ico' %}" style="height: 20px;
    width: 25px;">  Home</button>
</head>
<script>

    $(document).on('ready', function() {
        var select = document.getElementById("gameValue").children[0];
        select.addEventListener('change',function(){
            var url = document.URL.split("put_game_details");

            $.post(url[0] + "game_info/",{
            "game": document.getElementById("gameValue").children[0].value,
            },function(response) {
                document.getElementById("gameInfo").style.display = "block";
                document.getElementById("gameSlots").innerHTML = response.available_slots;
                document.getElementById("contestants").innerHTML = response.contestants.toString();

                if(response.available_slots === 0) {
                    document.getElementById("submitButton").style.display = "none";
                    document.getElementById("sorryMsg").innerHTML = "Sorry !!! You didn\'t make the cut :(" + "<br>"+ "May be try joining another game or make better friends! ";
                } else {
                    document.getElementById("sorryMsg").innerHTML ="";
                    document.getElementById("submitButton").style.display = "block";

                }
            });
            
        });
    });
    
    

    var validateUserName = function() {

        var url = document.URL.split("put_game_details");

        $.post(url[0] + "find_duplicate_name/",{
            "game": document.getElementById("gameValue").children[0].value,
            "player_name" : document.getElementById("name").value
      },function(response) {
          if(response.message.toUpperCase() !== "SUCCESS") {
            document.getElementById("errorMsg").innerHTML = response.message;
            document.getElementById("submitButton").style.display = "none";

          } else {
              document.getElementById("submitButton").style.display = "block";
                document.getElementById("errorMsg").innerHTML = "";

          }
      });
    }
</script>
<header class="header-title">Game Details</header>
    <body class="app-body">
        <div style="display: flex;">
            <form style="width: 60%;" method="POST">
                {% csrf_token %}
                <br>
                <div class="input-field">
                    Game Name :
                   <section id="gameValue" class="choices">{{ playlist.game }}</section>
                </div>
                <br>
                <div class="input-field">
                    <input onfocusout = "validateUserName()" type="text" id="name" name="name" required />
                    <label for="name">Player Name:</label>
                </div>
                
                <button style="display: none" id="submitButton" class="btn btn-primary" type="submit">Next</button>
                <div class="app-text" id="errorMsg" style="font-size: 3rem;"></div>
                <div id="sorryMsg" class="app-text" style="margin-top:5rem;font-size: 0.75rem;"></div>
            </form>

            <div id="gameInfo" class="app-text" style="width: 40%; font-family: 'timebomb';font-size: 3rem; display: none">
                <div>
                    Game Info 
                </div>
                <table>
                    <tr>
                        <td>
                            Available Slots : 
                        </td>
                        <td id="gameSlots" style="padding-left: 2rem;">

                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            contestants :
                        </td>
                        <td id="contestants" style="padding-left: 2rem;">

                        </td>
                    </tr>
                </table>
            </div>

        </div>
        
    </body>
{% endblock %}
