{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Enter Your Submission</title>
</head>
<script>

    function removeAllChildNodes(parent) {
        while (parent.firstChild) {
            parent.removeChild(parent.firstChild);
        }
    }

    var url = document.URL.split("new_entry");

    $(document).on('ready', function() {
        var select = document.getElementById("gameValue");
        
        select.addEventListener('change',function(){
            enableSubmitAndClearMsg();
            

            $.post(url[0] + "game_info/",{
            "game": document.getElementById("gameValue").value,
            },function(response) {
                document.getElementById("gameInfo").style.display = "block";
                document.getElementById("gameSlots").innerHTML = response.available_slots;
                document.getElementById("contestants").innerHTML = response.contestants.toString();
                document.getElementById("playlist_length").innerHTML = response.playlist_length;

                if(response.available_slots === 0) {
                    document.getElementById("submitButton").style.display = "none";
                    document.getElementById("sorryMsg").innerHTML = "Sorry !!! You didn\'t make the cut :(" + "<br>"+ "May be try joining another game or make better friends! ";
                } else {
                    document.getElementById("sorryMsg").innerHTML ="";
                    document.getElementById("submitButton").style.display = "block";

                }

                var elemToInsert = document.getElementById("songsLabel");
                $(".songs-name-div").remove();
                var maxLen = parseInt(response.playlist_length.split("- ")[1]);

                for(var i=0;i<maxLen;i++) {
                    var divElem = document.createElement("div");
                    divElem.setAttribute("class","songs-name-div");
                    divElem.style.marginLeft = "7.5%"
                    divElem.style.maxWidth = "350px"

                    var inputElem =  createInputElem();
                    inputElem.style.marginTop = "1rem";
                    inputElem.setAttribute("id" ,"input - " +i);

                    divElem.append(inputElem);

                    var buttonElem =  createButtonElem();
                    buttonElem.style.marginTop = "1rem";
                    buttonElem.setAttribute("id" ,"button - " +i);
                    divElem.append(buttonElem);

                    var selectElem =  createSelectElem();
                    selectElem.style.marginTop = "1rem";
                    selectElem.setAttribute("id" ,"select - " +i);

                    divElem.append(selectElem);

                    $(divElem).insertAfter(elemToInsert);
                    elemToInsert = divElem;

                }

            });
            
        });

        var createInputElem = function() {
            var elem = document.createElement("input");
            elem.setAttribute("type","text");
            elem.style.width = "350px";
            return elem;
        }

        var createButtonElem = function() {
            var elem = document.createElement("button");
            elem.setAttribute("onclick","getYTVideoId(this.id)");
            elem.innerHTML = "Search";
            return elem;
        }

        var createSelectElem = function() {
            var elem = document.createElement("select");
            elem.setAttribute("class","participant-dropdown-list selected-songs");
            elem.style.width = "12rem";
            elem.style.marginLeft = "0.3rem"
            return elem;
        }

        $.post(url[0] + "game_data/", {ready_to_play : 0}, function(result) {
            if(result && result.length > 0) {
                
                for (var i=0;i<result.length;i++) {
                    var elem = document.getElementsByTagName("select")[0];
                    var optionElem = document.createElement("option");

                    elem.append(optionElem);
                    optionElem.setAttribute("value",result[i].key);
                    optionElem.innerHTML = result[i].name;

                }

            }
        }) 
    });

    var validateAndSubmit = function () {

        if(parseInt(document.getElementById("gameValue").value) === -1 ) {
            document.getElementById("submitButton").style.display = "none";
            document.getElementById("sorryMsg").innerHTML = "Please select the game !!";
            return;
        }

        var selectedSongs = document.getElementsByClassName("selected-songs");
        var ytId = [];
        for (var i=0;i<selectedSongs.length;i++) {
            ytId.push(selectedSongs[i].value);
        }

        $.post(url[0] + "put_playlist/",{
            name : document.getElementById("name").value,
            game : document.getElementById("gameValue").value,
            ytId : ytId
        }, function( response ) {
            if(response) {
                var errorMsg = "";

                if(response.status && response.status.toUpperCase() !== "SUCCESS") {
                    if( response.message) {
                        if(errorMsg.length > 0) {
                            errorMsg = errorMsg + "<br>" + response.message;
                        } else {
                            errorMsg = response.message
                        }
                            
                    } 
                    if( response.length) {
                        if(errorMsg.length > 0) {
                            errorMsg = errorMsg + "<br>" + response.length;
                        } else {
                            errorMsg = response.length
                        }
                    }
                    if(response.duplicate && response.duplicate.length > 0) {
                        errorMsg = errorMsg +"<br>" + "The duplicates songs is/are -" + "<br>";
                        for(var i=0;i<response.duplicate.length;i++) {
                            errorMsg = errorMsg + response.duplicate[i] + "<br>";
                        }

                    }


                    document.getElementById("sorryMsg").innerHTML = errorMsg;
                    document.getElementById("submitButton").style.display = "none";
                } else {
                    window.location.replace(url[0] + "thanks/");
                }
            }
        })

    }

    var enableSubmitAndClearMsg = function () {
        document.getElementById("submitButton").style.display = "block";
        document.getElementById("sorryMsg").innerHTML = "";
    }

    var getYTVideoId = function(id) {
        var idToOperate = id.split("- ")[1];
        removeAllChildNodes(document.getElementById("select - "+idToOperate));
        var searchString = document.getElementById("input - "+idToOperate).value;
        var query = "https://youtube.googleapis.com/youtube/v3/search?";
        var params = "part=snippet&maxResults=25&order=title&q="+ searchString +"&type=video&";
        var key = "key=AIzaSyAEMe3f9sghtMSCuSL5Jwit2w_2Qg2Jn3E";
        $.get(query+params+key,function(response){
            var elem = document.getElementById("select - "+idToOperate);
            if(response && response.items && response.items.length > 0) {
                var result = response.items;
                for (var i=0;i<result.length;i++) {
                    // var elem = document.getElementsById("searchedSongs");
                    var optionElem = document.createElement("option");

                    elem.append(optionElem);
                    optionElem.setAttribute("value",result[i].id.videoId);
                    optionElem.innerHTML = result[i].snippet.title;

                }

            } else{
                //No songs found;
                var optionElem = document.createElement("option");
                elem.append(optionElem);
                optionElem.innerHTML = "No Songs found with this keyword.";
            }

            

        });
    }


    $(document).keypress(
        function(event){
            if (event.which !== '13') {
                enableSubmitAndClearMsg();
            }
    });

</script>


        <div class="input-container-playlist">
            <div style="margin-bottom: 4rem; flex-direction: column;">

                <div class="input-field" id="gname" style="margin-left: 7.5%;">
                    <span class="label-style">Game Name :</span>
                    <select id="gameValue" class="participant-dropdown-list">
                        <option value = "-1">-------------</option>
                    </select>
                </div>

                <div class="input-field game-selector-div">
                    <input type="text" id="name" name="name" autocomplete="off" onpaste = enableSubmitAndClearMsg() required />
                    <label for="name">Player Name:</label>
                </div>

                <label id="songsLabel" style="top: unset;left: unset;margin-left:2%; max-width: fit-content; ">Enter Song Name : </label>
                <button id="submitButton" type="submit" style="margin-top:2rem" onclick="validateAndSubmit()">Submit</button>
                <div id="sorryMsg" class="app-text-play game-selector-div" style="font-size: 0.75rem; color: whitesmoke"></div>
            </div>
            <div id="gameInfo" class="app-text-play">
                <div>
                    Game Info 
                </div>
                <table>
                    <tr>
                        <td>
                            Available Slots :
                        </td>
                        <td id="gameSlots" style="padding-left: 2rem;"></td>

                    </tr>
                    <tr>
                        <td>
                            Contestants :
                        </td>
                        <td id="contestants" style="padding-left: 2rem;"></td>
                    </tr>
                    <tr>
                        <td>
                            Playlist Length :
                        </td>
                        <td id="playlist_length" style="padding-left: 2rem;"></td>

                    </tr>
                </table>
            </div>

        </div>

{% endblock %}
