{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Enter Your Submission</title>
</head>
<script>

    $(document).on('ready', function() {
        var select = document.getElementById("gameValue").children[0];
        select.addEventListener('change',function(){
            var url = document.URL.split("put_playlist");

            $.post(url[0] + "game_info/",{
            "game": document.getElementById("gameValue").children[0].value,
            },function(response) {
                document.getElementById("gameInfo").style.display = "block";
                document.getElementById("gameSlots").innerHTML = response.available_slots;
                document.getElementById("contestants").innerHTML = response.contestants.toString();

                if(response.available_slots === 0) {
                    document.getElementById("submitButton").style.display = "none";
                    document.getElementById("sorryMsg").innerHTML = "Sorry !!! You didn\'t make the cut :(" + "<br>"+ "May be try joining another game or make better friends! ";
                } else {
                    document.getElementById("sorryMsg").innerHTML ="";
                    document.getElementById("submitButton").style.display = "block";

                }
            });
            
        });
    });
    
    

    var validateUserName = function() {

        var url = document.URL.split("put_playlist");

        $.post(url[0] + "find_duplicate_name/",{
            "game": document.getElementById("gameValue").children[0].value,
            "player_name" : document.getElementById("name").value
      },function(response) {
          if(response.message.toUpperCase() !== "SUCCESS") {
            document.getElementById("sorryMsg").innerHTML = response.message;
            document.getElementById("submitButton").style.display = "none";

          } else {
              document.getElementById("submitButton").style.display = "block";
                document.getElementById("sorryMsg").innerHTML = "";

          }
      });
    }

    var validatePlaylist =  function() {
        var url = document.URL.split("put_playlist");
        $.post(url[0] + "playlist_validations/",{
            "game": document.getElementById("gameValue").children[0].value,
            "link" : document.getElementById("playlist").value
      },function(response) {
          if(response.status.toUpperCase() !== "SUCCESS") {
              var errorMsg = "";
              if(response.length) {
                  errorMsg = errorMsg + response.length;
              }
              if(response.duplicate && response.duplicate.length > 0) {
                  errorMsg = errorMsg +"<br>" + "The duplicates songs is/are -" + "<br>";
                  for(var i=0;i<response.duplicate.length;i++) {
                      errorMsg = errorMsg + response.duplicate[i] + "<br>";
                  }

              }


            document.getElementById("sorryMsg").innerHTML = errorMsg;
            document.getElementById("submitButton").style.display = "none";
            document.getElementById("playlist").value = "";

          } else {
            document.getElementById("submitButton").style.display = "block";
            document.getElementById("sorryMsg").innerHTML = "";

          }
      });
    }
</script>

        <div class="input-container-playlist">
            <div class="game-selector-div" style="margin-bottom: 4rem;">
                <form method="POST">
                {% csrf_token %}

                <div class="input-field" id="gname">
                    <span class="label-style">Game Name :</span>
                   <section id="gameValue" class="choices">{{ playlist.game }}</section>
                </div>
                <br>
                <br>
                <div class="input-field">
                    <input onfocusout = "validateUserName()" type="text" id="name" name="name" autocomplete="off" required />
                    <label for="name">Player Name:</label>
                </div>

                <div class="input-field">
                    <input onfocusout = "validatePlaylist()" type="text" id="playlist" name="playlist" autocomplete="off" required />
                    <label for="playlist">Playlist:</label>
                </div>
                <button id="submitButton" type="submit">Submit</button>
                <div id="sorryMsg" class="app-text-play" style="font-size: 0.75rem; color: whitesmoke"></div>
                </form>
            </div>
            <div id="gameInfo" class="app-text-play">
                <div>
                    Game Info 
                </div>
                <table>
                    <tr>
                        <td>
                            Available Slots : 
                        </td>
                        <td id="gameSlots" style="padding-left: 2rem;">

                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            contestants :
                        </td>
                        <td id="contestants" style="padding-left: 2rem;">

                        </td>
                    </tr>
                </table>
            </div>

        </div>

{% endblock %}
