{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <link href="//db.onlinewebfonts.com/c/ab83b275830b2d585ea027c47e3b237a?family=GraphiqueW01-Regular" rel="stylesheet" type="text/css"/>
    <title>Enter Your Submission</title>
</head>
<header class="header-title">Game Details</header>
    <body class="app-body">
        <form method="POST">
            {% csrf_token %}
            <br>
            <div class="input-field">
                <input type="text" id="name" name="name" required />
                <label for="name">Player Name:</label>
            </div>
            <div class="input-field">
                Game Name :
               <section class="choices">{{ playlist.game }}</section>
            </div>
            <button class="btn btn-primary" type="submit">Next</button>
        </form>
    </body>
{% endblock %}
