<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Your Submission</title>
</head>
    <body>
        <form method="POST">
            {% csrf_token %}
            {{ fs.management_form }}
            {% for form in fs %}
                {% for field in form %}
                    {{ field.label }}<div>{{ field }}</div>
                {% endfor %}
                <hr>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
        <hr>
    </body>
</html>
