{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <title>Playground</title>
    <meta charset="UTF-8">
</head>
    <script type="text/javascript">

        $(document).on('ready', function () {
            displaySongName();
            document.getElementById("nextButton").disabled = true;
        });

        var votes = function () {
            var votesInput = {};
            var answer;
            var votes = document.getElementsByClassName("participant-dropdown-list");
            for (var i = 0; i < votes.length; i++) {
                votesInput[votes[i][i + 1].innerHTML] = votes[i].value;
            }

            var audioElem = document.getElementById("youtube-audio");
            if (audioElem && audioElem.attributes) {
                answer = audioElem.attributes[4].value;
            }

            var gameId = parseInt(document.URL.split("randomise/")[1].split("/")[0]);

            var url = document.URL.split("randomise");
            $.post(url[0] + "vote/", {
                "game": gameId,
                "votes": JSON.stringify(votesInput),
                "answer": answer
            }, function (response) {
                document.getElementById("correctAnswerSpan").innerHTML = "Answer : " + answer;
                var playerDom = document.getElementsByClassName("player-name");
                var scoreDom = document.getElementsByClassName("player-score");

                for (var i = 0; i < playerDom.length; i++) {
                    scoreDom[i].innerHTML = response[playerDom[i].innerHTML];
                }

                document.getElementById("nextButton").disabled = false;
                document.getElementById("voteButton").disabled = true;

            });
        }

        var next = function () {


            $('.participant-dropdown-list').prop('selectedIndex', 0);

            document.getElementById("correctAnswerSpan").innerHTML = "";
            document.getElementById("youtube-audio").remove();
            if (document.getElementById("youtube-audio")) {
                onYouTubeIframeAPIReady();
                displaySongName();
                var link = document.getElementById("youtube-audio").attributes[0].value
                document.getElementById("youtube-player").attributes[7].value = "https://www.youtube.com/embed/" + link + "?autoplay=0&amp;loop=1&amp;enablejsapi=1&amp;widgetid=1"

                document.getElementById("nextButton").disabled = true;
                document.getElementById("voteButton").disabled = false;

            } else {
                var para = document.createElement("P");
                para.innerHTML = "Game Over !!";
                document.getElementById("audioContainer").appendChild(para);

                document.getElementById("nextButton").style.display = "none";
                document.getElementById("voteButton").style.display = "none";
            }

        }

        var displaySongName = function () {
            document.getElementById("correctAnswerSpan").innerHTML = "";
            var audioElem = document.getElementById("youtube-audio");
            if (audioElem && audioElem.attributes) {
                document.getElementById("correctAnswerSpan").innerHTML = audioElem.attributes[5].value;
            }
        }

    </script>

    <div class="main-container">
        <div id="audioContainer" class="app-text-play" style="margin-top:4rem">
            {% for item in context %}
            <div data-video={{ item.link }}
                 data-autoplay="0"
                 data-loop="1"
                 id="youtube-audio"
                 value={{ item.name }}
                 name={{ item.song_name }}>
            </div>

            {% endfor %}
            <div style="margin-top:4rem" class="app-text-play" id="songName"></div>
            <div style="margin-top: 4rem;display:flex;justify-content: center" class="app-text-play" id="correctAnswerSpan">
                <div class="app-text-play">
                    Game Over !!!
                </div>
            </div>

        </div>
        <div class="app-text-play">
            <h1 class="app-text-play" style="font-size: 50px; margin-bottom: 20px">Voting</h1>
            <div class="app-votings-section">
                <table class="app-text-play voting-line-break" style="width: 100%">
                    <tr style="display: flex;justify-content: space-between;margin-bottom: 1rem;margin-top: 1rem">
                        <th>Player's Name</th>
                        <th>Vote</th>
                    </tr>
                    {% for item in uniquePlayers %}
                    <tr style="display: flex;justify-content: space-between;margin-bottom: 1rem;margin-top: 1rem">
                        <td>
                            {{ item}} :
                        </td>
                        <td>
                            <select name="selections" class="participant-dropdown-list">
                                <option>-------------</option>
                                {% for player in uniquePlayers %}
                                <option>{{player}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

                <button class="btn btn-primary" id="voteButton" onclick="votes()" style="margin-top: 15px;">Vote</button>
                <button class="btn btn-primary" id="nextButton" onclick="next()" style="margin-top: 15px; margin-left: 4rem;">Next</button>
            </div>

        </div>
        <div class="app-text-play">
            <h1 class="app-text-play" style="font-size: 50px; margin-bottom: 20px">Scores</h1>
            <div id="scoreboard" class="app-text-play">
                <table style="width: 100%" class="voting-line-break">
                    <tr style="display: flex;justify-content: space-between;margin-bottom: 1rem;margin-top: 1rem">
                        <th>Player's Name</th>
                        <th style="padding-left: 4rem;">Score</th>
                    </tr>

                    {% for key, value in scorecard.items %}
                    <tr style="display: flex;justify-content: space-between;margin-bottom: 1rem;margin-top: 1rem">
                        <td class="player-name">{{ key }}</td>
                        <td class="player-score" style="padding-left: 4rem;">{{ value }}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>

        </div>
    </div>

{% endblock %}
