<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="icon" href="{% static 'slick/favicon.ico' %}">
<link rel="stylesheet" href="{% static 'slick/css/appstyle.css' %}" type="text/css"/>
<link href="//db.onlinewebfonts.com/c/ab83b275830b2d585ea027c47e3b237a?family=GraphiqueW01-Regular" rel="stylesheet" type="text/css"/>

<head>
    <meta charset="UTF-8">
    <title>Thanks for your submission</title>
</head>
<body class="app-body">
    <div class="thanks">
        Your submission has been recorded!
    </div>
    <div class="home-btn">
        <button class="btn btn-primary" onclick="location.href = '/api/'">Home</button>
    </div>
</body>
</html>