.app-body {
    background: url(/static/slick/ep_naturalblack.png) repeat;
}

header {
    font-family: 'GraphiqueW01-Regular';
    font-size: 64px;
    color: white;
    position: center;
    padding-top: 1.5%;
    margin-top: 20px;
}
form {
    margin-top: 20px;
    margin-left: 100px;
    padding-left: 15%;
}
.input-field {
  position: relative;
  width: 350px;
  height: 64px;
  line-height: 44px;
  margin-bottom: 25px;

}
label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: white;
  background: url(static/slick/ep_naturalblack.png);
}
input:invalid {
  outline: 0;
}
input:focus,
input:valid {
  border-color: white;
}
input:focus~label,
input:valid~label {
  font-size: 14px;
  top: -24px;
  color: white;
}
.btn {
  padding: 5px 15px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #050505;
  background-color: #effaef;
  border: none;
  border-radius: 2px;
  box-shadow: 0 4px #999;
}

.btn:hover {background-color: #dfeee0
}

.btn:active {
  background-color: #dbefdc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn {
    padding: 5px 15px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #050505;
    background-color: #effaef;
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px #999;
  }
  
  .btn:hover {background-color: #dfeee0
  }
  
  .btn:active {
    background-color: #dbefdc;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .card-img-top {
    height: 265px;
    width: 398px;
  }
  
  .card-title {
    color: wheat;
  }
  
  .card-columns {
    column-gap: 4rem;
    transition: .5sec;
  }
  
  .card-body :hover {
    transform: scale(1.2);
  }
  
  .card {
    background-color: transparent;
    width: 400px;
  }

  html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 50%;
      margin: 100px auto;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }

  .slick-prev {
  margin-left: -60px;
  background-image: "/static/slick/left.png";
  }

 .slick-next {
  margin-right: -60px;
  background-image: "/static/slick/right.png";
  }

  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }

  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }

  .header-title {
    font-family: 'GraphiqueW01-Regular'; font-size: 84px;; color: white; margin-top: 20px
  }

  .index-main-body {
    margin-top: 10%; 
    margin-left: 10%; 
    margin-right: 10%;
  }

  .app-text {
      color: #ffffff;
  }
  
  .text-center {
      text-align: center;
  }

  .app-votings-section {
      margin-left: 10%;
  }

  .voting-line-break {
      line-height: 4rem;
  }

  .participant-dropdown-list {
      margin-left: 5rem;
      width: 250px;
  }